.button {
  position: relative;
  width: 164px;
  height: 28px;

  border-radius: 3px;
  background-color: #aeafbc;
  box-shadow: 0px 0px 5.5102px rgba(0, 0, 0, 0.3);
  border: none;

  font-family: Segoe UI;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  text-align: center;

  color: #ffffff;
}

.button:hover {
  cursor: pointer;
  background-color: #d1d3e3;
  box-shadow: 0px 0px 5.5102px rgba(0, 0, 0, 0.3);
}
